<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manage products</title>
</head>
<!--BS4-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/insertProduct">Insert</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Dropdown link
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </li>
    </ul>
</nav>

<body>
<div class="container">
    <form action="/editProduct" method="POST">
        <div class="form-group">
            <label for="_id">ID: </label>
            <input class="form-control" type="text" name="id" readonly id="id" value="{{products._id}}">
        </div>
        <div class="form-group">
            <label for="product_name">Product name: </label>
            <input class="form-control" type="text" name="product_name" id="" value="{{products.product_name}}"
                   required>
        </div>
        <div class="form-group">
            <label for="color">Color: </label>
            <input class="form-control" type="text" name="color" id="" value="{{products.product_color}}" required>
        </div>
        <div class="form-group">
            <label for="price">Price: </label>
            <input class="form-control" type="text" name="price" id="" value="{{products.product_price}}" required>
        </div>


        <input class="btn btn-success" type="submit" value="Submit">
    </form>
</div>
</body>
</html>